################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Unity Project/.vs/Unity Project/v15
/Unity Project/Temp